.header__nav {
  display: none;
  @media (min-width: 1140px) {
    display: block;
  }
}

.nav__link {
  display: block;
  margin-right: 100px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
.nav__link:last-child {
  margin-right: 0;
}

.nav-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 3;
  @media (min-width: 1140px) {
    display: none;
  }
}
